body {
    background-image: url('../cookie/asset/image-de-mignon.jpe');
}
.container {
    width: 800px;
    margin: auto;
}
#score {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 12px 12px 2px 1px #2CAAF7;
}
img {
    width: 250px;
    height: 250px;
}
#container1, #container2 {
    width: 250px;
    height: 250px;
    margin: auto;
}
#bonus {
    margin-left: 5%;
}
#display {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10%;
    background-color: #2caaf7;
    text-align: center;
    line-height: 6em;
    white-space: nowrap;
    text-shadow: 1px 3px #082745;
    box-shadow: 8px 8px 2px 1px #082745;
    color: white;
    font-weight: bold;
}
#saveLoad {
    margin-top: 3%;
    margin-left: 10%;
}
h4 {
    width: 250px;
    margin-left: 10%;;
}
#save, #load, #buyCursorBtn, #autoCursor,#clic {
	border:none;
	padding:6px 0 6px 0;
	border-radius:2px;
	box-shadow:3px 3px 12px #999;
	background:#fff;
	font:bold 13px Arial;
    color:#555;
    width: 50px;
}
#multiply {
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Gamja Flower', cursive;
    font-size: 26px;
    color: #2caaf7;
    text-shadow: 2px 3px #082745;
}
#autoCursor, #buyCursorBtn, #autoclic, #clic {
    width: 250px;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

